@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .trans-300 {
        @apply transition-all duration-300;
    }
}

@font-face {
    font-family: 'Cascadia Mono';
    src: url('/fonts/CascadiaMono.woff2') format('woff2');
}

@font-face {
    font-family: 'Cascadia Mono';
    src: url('/fonts/CascadiaMonoItalic.woff2') format('woff2');
    font-style: italic;
}

body {
    @apply bg-gray-1 font-sweet flex justify-center;
}